* {
				margin: 0;
				padding: 0;
			}
		
			body {
				background-color: rgba(0,0,0, 0.1);
			}
		
			.wrapper {
				height: 600px;
				width: 100%;
				background-image: url("images/sm-skateboard.jpg");
				background-size: cover;
			}
			
			.logo img {
				height: 75px;
				margin: 3% 3% 0 4%;
			}
			
			.main {
				height: 300px;
				width: 65%;
				background-color: rgba(1,1,1, 0.8);
				margin: 15% 1% 4% 1.5%; 
			}
			
			.nav {
				height: 300px;
				width: 30%;
				background-color: rgba(1,1,1, 0.8);
				margin: 15% 1.5% 4% 1%; 
				padding: 0;
				color: white;
				font-size: 18px;
				font-family: sans-serif;
				font-weight: light;
			}
			
			.nav table {
				height: 100%;
				width: 100%;
				padding: 0;
				text-align: center;
			}
			
			.nav table td {
				width: 50%;
			}
			
			.nav table td:hover {
				background-color: rgba(255,255,255, 0.95);
				color: black;
			}
			
			.info {
				padding: 0;
				border-bottom: 1px solid black;
			}
			
			.info div {
				width: 30%;
				margin: 5% 20px 5% 20px;
				float: left;
				background-color: rgba(0,0,0, 0.1);
			}
			
			.footer {
				width: 100%;
				background-color: #111111;
			}
			
			.pull-left {
				float: left;
			}
		
			.pull-right {
				float: right;
			}
